VITE_SUPABASE_URL=https://jbcowxyqgxdjuiygajea.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpiY293eHlxZ3hkanVpeWdhamVhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk1ODgxNjAsImV4cCI6MjA3NTE2NDE2MH0.PtjLKDrBD49apxfbIk1vy0EHg6sqaEOkm2xoB5Xjyfs